*{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.sub-box {
    border-radius: 10px;
    position: relative;
    height: 600px;
    width: 40%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.superflex {
    height: 700px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap to the next line */
    gap: 6%;
    /* Space between flex items */
    padding: 0px 0px;
}

.a1 .a2 {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(33.333% - 20px);
    /* 3 items per row with space */
    box-sizing: border-box;
    /* Include padding in width calculation */
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}